.line,
.round-block,
.comment {
  margin-bottom: 0.25em;
}

.line {
  display: flex;
  gap: 0.25em;
  align-items: center;
}
.round-block {
  border-radius: 1em;
  padding: 0.5em;
  border: 2px solid #333;
}

.rounded-inline {
  display: inline-flex;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.25em;
  border: 1px solid #333;
}

.condition {
  border-radius: 32px;
}

.square-block {
  margin: 0.25em;
  border-radius: 0;
  padding: 0.25em;
  display: inline-flex;
  align-items: center;
  border: 2px solid #333;
}
.keyword {
  font-weight: bold;
}
.white {
  background-color: var(--white);
}
.shaded {
  background-color: var(--secondary-bg);
}
.value.list {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
